.mdl-layout{
 /*height:auto!important*/
}

.mdl-textfield__label{
    color: white!important;
}

.mdl-textfield__label:after{
    background-color: white!important; 
}

main{
  width:500px!important;
  margin:auto
  
}

.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
} 

  
    
    .textox {
   margin-top:15px;
   color:white;
   width: auto;
   height: auto;
   border: solid 2px #3F51B5;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   background-color: #3F51B5;
   outline: none;
   
  }
.textox:hover  {
   border: 2px solid #FF00D5;
  }
.textox:focus  {
   border: solid 2px #00D43C;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
.textox:active  {
   border: solid 2px #0043EB;
  }

